<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de Usuário</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    </head>
    <body class="bg-light">

        <div class="container vh-100 d-flex align-items-center justify-content-center">
            <div class="col-md-4">

                <div th:if="${erroServidor != null and #strings.length(erroServidor) > 0}" class="alert alert-danger alert-dismissible fade show shadow-sm mb-4" role="alert">
                    <strong th:text="${erroServidor}">Erro</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="card shadow border-0">
                    <div class="card-header bg-primary text-white text-center py-3">
                        <h5 class="mb-0 fw-bold">Criar Conta</h5>
                    </div>
                    <div class="card-body p-4 text-center">

                        <form th:action="@{/registrar}" th:object="${usuario}" method="post">

                            <div class="form-floating mb-4 text-start">
                                <input type="text" class="form-control" id="floatingNome" placeholder="" th:field="*{nome}" required>
                                <label for="floatingNome">Nome</label>
                            </div>

                            <div class="form-floating mb-4 text-start">
                                <input type="email" class="form-control" id="floatingEmail" placeholder="" th:field="*{email}" required>
                                <label for="floatingEmail">E-mail</label>
                            </div>

                            <div class="form-floating mb-4 text-start">
                                <input type="password" class="form-control" id="floatingSenha" placeholder="" th:field="*{senha}" required>
                                <label for="floatingSenha">Senha</label>
                            </div>

                            <button type="submit" class="btn btn-primary w-100 py-2 fw-semibold shadow-sm mb-4">Cadastrar-se</button>
                        </form>

                        <div class="text-center small text-muted">
                            Já tem uma conta? <a class="text-primary fw-bold text-decoration-none" th:href="@{/login}">Entrar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>